h1 {
    font-size: 30px;
}

h2 {
    color: blueviolet;
}

.column {
    width: 50%;
}

body {
    background-color: aquamarine;
}

image {
    display: block;
    max-width: 10%;
    height: auto;
}